{% extends "bootstrap/base.html" %}

{% block title %}OpenEcosynth{% endblock %}

{% block head %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">

{% endblock %}

{% block navbar %}

<div class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('main.index') }}">EcosynthData</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="{{ url_for('main.explore') }}">Explore</a></li>
                <!--<li><a href="{{ url_for('main.search') }}">Search</a></li>-->
                <!--<li><a href="{{ url_for('main.create') }}">Create</a></li>-->
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a target="_blank" href="http://ecosynth.org/page/getting-started">Get Started</a></li>
               <li><a target="_blank" href="http://code.ecosynth.org">Ecosynth Tools</a></li>
                <li><a target="_blank" href="http://www.ecosynth.org">Community</a></li>
            </ul>
        </div>
    </div>
</div>


{% endblock %}

{% block content %}
<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}

    {% block page_content %}
    {% endblock %}
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{% endblock %}
