<table class="table table-hover">
  <tr>
  	<th><a href="{{ url_for('.explore') }}">Date Uploaded</a></th>
   	<th><a href="{{ url_for('.explore_site') }}">Site</a></th>	
   	<th><a href="{{ url_for('.explore_author') }}">Author</a></th>
   	<th><a href="{{ url_for('.explore_org') }}">Organization</a></th>
   	<th>View SynthSet</th>
  </tr>

<div class="post-tabs">
    {% include 'synthset/_synthset_summary.html' %}
</div>

</table>
