{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}EcosynthData{% endblock %}

{% block page_content %}
<body onload="initialize()">

	<h2 align="middle">Welcome to EcosynthData</h2>
	<!--
	<iframe width="100%" height="400" frameborder="0" align="middle" style="padding:10px;border:10px" src="https://www.google.com/maps/embed/v1/place?q=UMBC%2C%20Hilltop%20Circle%2C%20Baltimore%2C%20MD%2C%20United%20States&key=AIzaSyBfRuo9wDpMmHcrcMgoCtwaKZq3pOGcuQw"></iframe>
	-->
	<div id="map_canvas" style="padding: 10; border:10px; height:400px; width=100%"></div>

<!-- Twitter Feed of Ecosynth
<a class="twitter-timeline" href="https://twitter.com/ecosynth" data-widget-id="490148866126118912">Tweets by @ecosynth</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
-->

	<div class="page-content">
		<div class="col-md-4">
			<h3 align="middle">About</h3>
			<p>Ecosynth is a suite of tools used to map and measure vegetation in three dimensions using off-the-shelf digital cameras and open-source computer vision software, from the ground or using low altitude hobbyist aircraft.</p>

      <p>EcosynthData exists as a means for Ecosynth community members to share data and work collaboratively.</p>

      <p>To learn more about Ecosynth and its tools, visit Ecosynth's 'Community' website, a link to which is provided at the top-right corner of this webpage.</p>
		</div>

		<div class="col-md-4">
			<h3 align="middle">Explore</h3>
      <p>The SynthSets can be explored in the following ways:</p>
      <ul>
        <li>Visually through the Google Maps API right here on the front page</li>
        <li>Tabularly through the 'Explore' section</li>
        <li>As JSON metadata through the site's API <a target="_blank" href="/api/synthsets/">here</a></li>
      </ul>
      <p>Each 'SynthSet' may be comprised of the following:</p>
      <ul>
        <li>Project Page with Metadata and Links to Downloadable Images and Point Cloud Files</li>
        <li>Web-based Visualization Program to View Point Cloud</li>
        <li>Digital Object Identifier (DOI) Representing the Dataset</li>
      </ul>
		</div>

		<div class="col-md-4">
			<h3 align="middle">Create</h3>
			<p>If you're ready to upload your own SynthSets, you can do so through the EcosynthAerial python library's GUI.</p>

      <p>To learn how to get started with generating your own point clouds, visit Ecosynth's 'Get Started' and 'Python Tools' page, links to which are provided at the top-right corner of this webpage.</p>
		</div>

	</div>
</body>
{% endblock %}

{% block scripts %}
{{ super() }}

<!-- Google Maps API: Currently Only Used in Index -->
<script
  src="https://maps.googleapis.com/maps/api/js?libraries=visualization">
</script>
<script>
  var map;

  function initialize() {
    var mapOptions = {
      zoom: 2,
      center: new google.maps.LatLng(20,0),
      mapTypeId: google.maps.MapTypeId.TERRAIN
    };
    map = new google.maps.Map(document.getElementById('map_canvas'),
          mapOptions);

    var script = document.createElement('script');
    script.src = '/api/synthsets-all-geo';

    document.getElementsByTagName('head')[0].appendChild(script);
  }
    
  // Loop through the results array and place a marker for each
  // set of coordinates.
  window.eqfeed_callback = function(results) {

    var infowindow = new google.maps.InfoWindow();

    for (var i = 0; i < results.synthsets.length; i++) 
    {
      //console.log(results.synthsets[i]);
      var fill = ("<b>Site</b>: " + results.synthsets[i].acq_site + "<br>"
        + "<b>Author</b>: " + results.synthsets[i].ov_author + "<br>"
        + "<b>Page</b>: <a target='_blank' href=explore/" + results.synthsets[i].id 
        + ">explore/" + results.synthsets[i].id + "</a><br>");

      var lat = results.synthsets[i].acq_lat;
      var lon = results.synthsets[i].acq_lon;
      var latLng = new google.maps.LatLng(lat,lon);

      var marker = new google.maps.Marker({
        position: latLng,
        fill: fill,
        map: map,
      });

      google.maps.event.addListener(marker, 'click', (function(marker, i) {
        return function()
        {
          infowindow.setContent(marker.fill);
          infowindow.open(map, marker);
        }
      })(marker, i));
    }
  }
</script>

{% endblock %}
