{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}    

{% block title %}Search{% endblock %}

{% block page_content %}

<div class="page-header">

    <h1 align="middle">(Search Page)</h1>

</div>
<div>


</div>

{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}