{% for synthset in synthsets %}
    <tr class="synthset-summary-content">
        <td class="synthset-attr">{{ moment(synthset.timestamp).calendar() }}</td>
        <td class="synthset-attr">{{ synthset.acq_site }}</td>
        <td class="synthset-attr">{{ synthset.ov_author }}</td>
        <td class="synthset-attr">{{ synthset.ov_organization }}</td>
        <td class="synthset-attr"><a href="{{ url_for('.synthset', id=synthset.id) }}"><span class="label label-default">Permalink</span></a></td>
    </tr>
{% endfor %}

