{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}EcosynthData - New Synth Set{% endblock %}

{% block page_content %}
<div class="page-header">
    <h2 align="middle">Add New SynthSet to EcosynthData</h2>
</div>
<div>
    {{ wtf.quick_form(form, enctype="multipart/form-data") }}
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}
