{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}EcosynthData - SynthSet{% endblock %}

{% block page_content %}
<body onload="initialize()">
    {% for synthset in synthset %}
    <meta id="post_id" content={{ synthset.id }} />
    <div class="synthset-data">
        {% if synthset.viewable_cloud %}
        <a class="btn btn-success" href="{{ url_for('.viewer', id=(synthset.id)) }}">View Point Cloud</a>
        {% endif %}

        {% if synthset.img_filepath %}
        <a class="btn btn-primary" href="{{ url_for('.uploaded_file', filepath=(synthset.img_filepath)) }}">Download Images (zip)</a>
        {% endif %}

        {% if synthset.ply_filepath %}
        <a class="btn btn-primary" href="{{ url_for('.uploaded_file', filepath=(synthset.ply_filepath)) }}">Download Point Cloud (ply)</a>
        {% endif %}

        {% if synthset.out_filepath %}
        <a class="btn btn-primary" href="{{ url_for('.uploaded_file', filepath=(synthset.out_filepath)) }}">Download Bundler File (out)</a>
        {% endif %}
    </div>
    <br>

    <div class="col-md-6">
        <table class="table">
            <tr>
                <th class="col-md-3">Field</th><th>Value</th>
            </tr>
            <tr>
                <td>Author</td> <td>{{ synthset.ov_author }}</td>
            </tr>
            <tr>
                <td>Organization</td> <td>{{ synthset.ov_organization }}</td>
            </tr>
            <tr>
                <td>DOI</td> <td>{{ synthset.ov_doi }}</td>
            </tr>
            <tr>
                <td>Date Uploaded</td> <td>{{ moment(synthset.timestamp).calendar() }}</td>
            </tr>
            <tr>
                <td>Date Acquired</td> <td>{{ moment(synthset.acq_date).calendar() }}</td>
            </tr>
            <tr>
                <td>Time Acquired</td> <td>{{ synthset.acq_time }}</td>
            </tr>
            <tr>
                <td>Acquisition Site</td> <td>{{ synthset.acq_site }}</td>
            </tr>
            <tr>
                <td>Lat / Lon</td> <td>{{ synthset.acq_lat }} / {{ synthset.acq_lon }}</td>
            </tr>
            <tr>
                <td>ID</td> <td>{{ synthset.id }}</td>
            </tr>
            <tr>
                <td>Notes</td> <td>{{ synthset.notes }}</td>
            </tr>
        </table>
    </div>

    <div class="col-md-6">
        <div id="map_canvas" style="padding: 10; border:10px; height:400px; width=100%"></div>
    </div>

    {% endfor %}
</body>

{% endblock %}

{% block scripts %}
{{ super() }}

<!-- Google Maps API: Currently Only Used in Index -->
<script
  src="https://maps.googleapis.com/maps/api/js?libraries=visualization">
</script>

<script>
  var map;

  function initialize() {
    var mapOptions = {
      zoom: 12,
      center: new google.maps.LatLng(20,0),
      mapTypeId: google.maps.MapTypeId.TERRAIN
    };
    map = new google.maps.Map(document.getElementById('map_canvas'),
          mapOptions);

    var script = document.createElement('script');
    script.src = '/api/synthsets-geo/'+ $('#post_id').attr("content");

    document.getElementsByTagName('head')[0].appendChild(script);
  }
    
  // Loop through the results array and place a marker for each
  // set of coordinates.
  window.eqfeed_callback = function(results) {

    var infowindow = new google.maps.InfoWindow();

    for (var i = 0; i < results.synthsets.length; i++) 
    {
      //console.log(results.synthsets[i]);
      var fill = ("<b>Site</b>: " + results.synthsets[i].acq_site + "<br>"
        + "<b>Author</b>: " + results.synthsets[i].ov_author + "<br>"
        + "<b>Page</b>: <a target='_blank' href=explore/" + results.synthsets[i].id 
        + ">explore/" + results.synthsets[i].id + "</a><br>");

      var lat = results.synthsets[i].acq_lat;
      var lon = results.synthsets[i].acq_lon;
      var latLng = new google.maps.LatLng(lat,lon);

      map.setCenter(latLng)

      var marker = new google.maps.Marker({
        position: latLng,
        fill: fill,
        map: map,
      });

      google.maps.event.addListener(marker, 'click', (function(marker, i) {
        return function()
        {
          infowindow.setContent(marker.fill);
          infowindow.open(map, marker);
        }
      })(marker, i));
    }
  }
</script>

{% endblock %}
